{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home/jumbotron.jpg" "title" "Hi, there" "subtitle" "Thanks for visiting") }}

{{ partial "short-text" (dict "heading" "Shoshin Insights" "text" "Coming soon...")}}

{{ partial "2-up" (dict "heading" "About" "description" "About" "svg1" "img/illustrations/coffee.svg" "text1" "Services" "svg2" "/img/illustrations/coffee-gear.svg" "text2" "Contact" "buttonText" "Placeholder" "buttonLink" "/products"  ) }}

{{ partial "text-and-image" (dict "heading" "Past Projects" "text" "Past Projects" "buttonText" "Read more" "buttonLink" "/values") }}

{{ partial "blog" . }}

{{ partial "footer" . }}
